/* top Nav */

.top-nav{
    width: 100%;
    background: #3D3F40;
    padding: 0;
    margin: 0;
}

.top-list{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;

    li{
        list-style: none;
        float: left;
        padding: 10px 15px;
        color: #EEEDEE;
        font-size: 13px;
    }

    li:first-child{
        padding-left: 0;
    }

    li i{
        padding-right: 8px;
    }
}

.top-list-right{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    float: right;

    li{
        list-style: none;
        float: left;
        padding: 10px 15px;
        color: #EEEDEE;
        font-size: 13px;
    }

    a {
        color: #ffffff;
    }
}

/* Top Bar*/

.top-bar{
    
}


